h1,h2,h3,h4,h5,h6 
/* maintains consistency for all headings */
{
    color: rgb(255, 156, 50);
    font-family: 'Courier New', Courier, monospace;
}

p
{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

li a:link{color:rgb(255, 156, 50);}
li a:hover{color: rgb(255, 0, 0);}
li a:visited{color: rgb(255, 156, 50);}

ul
{
    list-style-type: none;
}

li
{
    float: left;
    text-align: center;
    background-color:antiquewhite;
    font-size:xx-small;
    color: rgb(255, 136, 67);
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(255, 209, 160);
}

/* NAVIGATION */
.nav-bar
{
    height: 70px;
    width: 100%;
    
}
.nav-bar2
{
    margin: 0px 0px 0px 200px;
    height: 70px;
    width: 100%;
    
}

.links
{
    display: flex;
    grid-template-columns:190px 190px 190px 190px 190px 190px;
    margin: 10px;
    padding: 10px 3px 10px 3px;
    height: 30px;
    width: 155px;
    text-align: center;
    color:rgb(255, 136, 67);
    font-family:sans-serif;
    font-size: small;
}

.homebutton
{
    margin: 10px;
    padding: 15px 0px 5px 0px;
    height: 30px;
    width: 60px;
    text-align: center;
    color:rgb(0, 0, 0);
    font-family:sans-serif;
    font-size: small;
    list-style: none;
}
.materialbutton
{
    margin: 10px;
    padding: 10px 30px 10px 30px;
    height: 15px;
    width: 100px;
    text-align: center;
    color:rgb(0, 0, 0);
    font-family:sans-serif;
    font-size: x-small;
    list-style: none;
    
}

/* DECORATION */
.line1
{
    border-style: dashed; color: rgb(255, 207, 157);
}
.solid
{
    border-style: solid; color: rgb(255, 207, 157);
}

/* PAGE ORGANISATION AND SPACE FORMATTING */
.wrapper
{
    margin:20px 200px 20px 200px;
    padding: 10px 5px 20px 5px;
    background-color: white;
}

.box1
{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 5px 0px 5px 10px;
}
.box2
{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 5px 0px 5px 10px;
    text-align: left;
}
.box3
{
    padding: 20px;
    text-align: center;
}

.box4
{
    padding: 20px;
    text-align:left;
}
.box5
{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px 0px 5px 10px;
}
.box6
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 20px ;
    padding: 2px 5px 0px 35px;
    text-align: center;
}

/* FOOTER */
.bottombutton
{
    margin: 10px;
    padding: 10px 0px 10px 0px;
    height: 10px;
    width: 65px;
    text-align: center;
    color:rgb(0, 0, 0);
    font-family:sans-serif;
    font-size: xx-small;
    list-style: none;
}

.footer
{
    color: rgb(255, 159, 103);
    margin: 5px 450px 5px 400px;
    text-align: center;
    font-size: x-small;
    font-weight: lighter;
}

/* ADDITIONAL CLASSES */
.download
{
    font-family: sans-serif;
    background-color: rgb(255, 136, 67);
    color: antiquewhite;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}
.download:hover
{
    background-color: antiquewhite;
    color: rgb(255, 136, 67);
}

.blurb
{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-small;
    font-style: italic;
}

.email
{
    color:rgb(255, 156, 50);
}

.email:hover{color: rgb(255, 81, 0);}